@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@media only screen and (max-width: 1200px) {
  .cardui {
    padding-top: 6rem;
    width: 100vw !important;
    justify-content: center;
    display: flex;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .fotocar {
    width: 70vw !important;
  }

  .cardui {
    padding-top: 6rem;
    width: 100vw !important;
    justify-content: center;
    display: flex;
  }
  .kurir {
    font-size: large;
  }
  .layanan .images-layanan {
    width: 250px;
    font-size: 20px;
  }
  .ucapan {
    font-family: "Josefin Sans", sans-serif;
    padding-top: 6rem;
    text-align: center;
    font-size: 35px;
  }
  .olstore {
    padding-top: 6rem;
  }
}

.AppMain {
  background-color: #ffffe8;
  padding-bottom: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.tombol {
  border-radius: 25px;
  background: linear-gradient(145deg, #ffeaea, #d8c5c5);
  box-shadow: 5px 5px 0px #605858, -5px -5px 0px #ffffff;
}
/* Navbar */
.navbar {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 16px;
  background: linear-gradient(145deg, #e6e2dd, #ffffff);
  box-shadow: 5px 5px 0px #666462, -5px -5px 0px #ffffff;
}
.nav-bg {
  background-color: #ffffe8;
  padding-bottom: 1rem;
}

/* Akhir navbar */
/* Ucapan */
.ucapan {
  font-family: "Josefin Sans", sans-serif;
  padding-top: 6rem;
  text-align: center;
  font-size: 35px;
}
/* Akhir Ucapan */

/* Card */
.cardui {
  padding-top: 6rem;
  width: 100%;
}
/* Akhir Card */

/* Carousel */
.slider {
  padding-top: 4.5rem;
}
.carousel {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-radius: 32px;
  border-radius: 32px;
  background: #ffffe8;
  box-shadow: 5px 5px 10px #4a6165;
}
.fotocar {
  width: 35%;
}
/* Akhir Carousel */

/* Online Store */

.olstore {
  padding-top: 6rem;
  font-family: "Josefin Sans", sans-serif;
}
.logo-shopee {
  width: 40vh;
}
.maps {
  width: 15vh;
}
.alamat {
  font-size: x-large;
}
/* Akhir Online Store */

/* Layanan */
.deskripsi {
  font-size: 25px;
  font-family: "Josefin Sans", sans-serif;
}
.images-layanan {
  width: 40vw;
}
/* Akhir Layanan */

/* Footer */
.copyright {
  font-family: "Roboto Mono", monospace;
  padding-bottom: 1.2rem;
  margin: auto;
  background-color: #fffbf5;
}
/* Akhir Footer */
