@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .carousel {
    width: 100%;
  }
}

.AppMain {
  background-color: #b9f3fc;
  padding-bottom: 1.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Navbar */
.navbar {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 16px;
  background: #aee2ff;
  box-shadow: 5px 5px 10px #101215;
  /* , -5px -5px 10px #404653 */
}
.nav-bg {
  background-color: #b9f3fc;
}
/* Akhir navbar */
/* Ucapan */
.ucapan {
  padding-top: 3rem;
  text-align: center;
  font-size: 20px;
}
/* Akhir Ucapan */

/* Carousel */
.carousel {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 32px;
  border-radius: 32px;
  background: #b9f3fc;
  box-shadow: 5px 5px 10px #4a6165;
}
.image-carousel {
  width: 35%;
}
/* Akhir Carousel */
/* Footer */
.copyright {
  font-family: "Roboto Mono", monospace;
  padding-bottom: 1.2rem;
  margin: auto;
  background-color: #aee2ff;
}
/* Akhir Footer */
